{% load static %}
{% load mathfilters %}
{% static 'pics' as baseUrl %}
<!DOCTYPE html>
<html>
<head>
<title>Shop Hop: Cart</title>
<link href="{% static 'css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<!-- start menu -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/simpleCart.min.js' %}"> </script>
<!-- slide -->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
   <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
  <script type="text/javascript">
	var user = "{{request.user}}"
	function getToken(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	const csrftoken = getToken('csrftoken');
	
</script>
</head>
<body>
<!--header-->
<div class="header">
	<div class="header-top">
		<div class="container">
				<div class="col-sm-4 logo">
					<h1><a href="/">Shop <span>Hop</span></a></h1>	
				</div>
			<div class="col-sm-4 world">
					<div class="cart box_1">
						<a href="cart">
							<h3>
								<img src="{% static 'images/cart.png' %}" alt=""/>
								<div class="total">
									<span><p id="cart-total">{{cartItems}}</p></span></div>
							</h3>
						</a>

					</div>
			</div>
			<div class="col-sm-2 number">
				{% if request.user.is_authenticated %}
				<span><i class="glyphicon glyphicon-phone"></i>Hello,{{request.user}}</span>
				{% endif %}
			</div>
			<div class="col-sm-2 search">		
				<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
		<div class="container">
			<div class="head-top">
			<div class="n-avigation">
			
				<nav class="navbar nav_bottom" role="navigation">
				
				 <!-- Brand and toggle get grouped for better mobile display -->
				  <div class="navbar-header nav_2">
					  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					  <a class="navbar-brand" href="#"></a>
				   </div> 
				   <!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav nav_1">
							<li><a href="/">Home</a></li>
							<li class="dropdown mega-dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Women<span class="caret"></span></a>				
								<div class="dropdown-menu mega-dropdown-menu">
									<div class="container-fluid">
										<!-- Tab panes -->
										<div class="tab-content">
										  <div class="tab-pane active" id="men">
											<ul class="nav-list list-inline">
												<li><a href="#"><img src="{% static 'images/t7.jpg' %}" class="img-responsive" alt=""/></a></li>
												<li><a href="#"><img src="{% static 'images/t8.jpg' %}" class="img-responsive" alt=""/></a></li>
												<li><a href="#"><img src="{% static 'images/t9.jpg' %}" class="img-responsive" alt=""/></a></li>
												<li><a href="#"><img src="{% static 'images/t11.jpg' %}" class="img-responsive" alt=""/></a></li>
												<li><a href="#"><img src="{% static 'images/t1.jpg' %}" class="img-responsive" alt=""/></a></li>
												<li><a href="#"><img src="{% static 'images/t12.jpg' %}" class="img-responsive" alt=""/></a></li>
											</ul>
										  </div>
									   </div>
									</div>
									<!-- Nav tabs -->
									                
								</div>				
							</li>
							<li class="dropdown mega-dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Men<span class="caret"></span></a>				
								<div class="dropdown-menu mega-dropdown-menu">
									<div class="container-fluid">
										<!-- Tab panes -->
										<div class="tab-content">
										  <div class="tab-pane active" id="men">
											<ul class="nav-list list-inline">
												<li><a href="#"><img src="{% static 'images/t10.jpg' %}" class="img-responsive" alt=""/></a></li>
												<li><a href="#"><img src="{% static 'images/t2.jpg' %}" class="img-responsive" alt=""/></a></li>
												<li><a href="#"><img src="{% static 'images/t3.jpg' %}" class="img-responsive" alt=""/></a></li>
												<li><a href="#"><img src="{% static 'images/t4.jpg' %}" class="img-responsive" alt=""/></a></li>
												<li><a href="#"><img src="{% static 'images/t5.jpg' %}" class="img-responsive" alt=""/></a></li>
												<li><a href="#"><img src="{% static 'images/t6.jpg' %}" class="img-responsive" alt=""/></a></li>
											</ul>
										  </div>
										 
									   </div>
									</div>
									<!-- Nav tabs -->
									                   
								</div>				
							</li>
							<li><a href="#">Products</a></li>
							{% if request.user.is_authenticated %}
							<li><a href="accounts/logout">Logout</a></li>
							{% else %}
							<li><a href="accounts/account">Sign In</a></li>
							{% endif %}
							<li class="last"><a href="contact.html">Contact</a></li>
						</ul>
					 </div><!-- /.navbar-collapse -->
				  
				</nav>
			</div>
			
				
		<div class="clearfix"> </div>
			<!---pop-up-box---->   
					<link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all"/>
					<script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
					<!---//pop-up-box---->
				<div id="small-dialog" class="mfp-hide">
				<div class="search-top">
						<div class="login">
							<form action="#" method="post">
								<input type="submit" value="">
								<input type="text" name="search" value="Type something..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">		
							
							</form>
						</div>
						<p>	Shopping</p>
					</div>				
				</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>			
	<!---->		
		</div>
	</div>
</div>
<!--//header-->
<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Cart</li>
			</ol>
		</div>
	</div>
<!---->
<div class="container">
	<div class="check-out">
		<h2>Cart</h2>
    	    <table class="table">
		  <tr>
			<th>Item</th>
			<th>Qty</th>		
			<th>Prices</th>
			<th>Delivery details</th>
			<th>Total</th>
		  </tr>
		  <tr>
			{% for item in items %}
			<td class="ring-in"><a href="#" class="at-in"><img src="{{item.product.imageURL}}" class="img-responsive" alt=""></a>
			<div class="sed">
				<h5>{{item.product.name}}</h5>
			
			</div>
			<div class="clearfix"> </div></td>
			<td><p class="quantity" style="display: inline-block;
				font-weight: 700;padding-right:10px;">{{item.quantity}}</p>
				<div class="quantity" style="display: inline-block;
				font-weight: 700;padding-right:10px;">
					<img data-product={{item.product.id}}  data-action='add' class='chg-quantity update-cart' style="width:12px;cursor:pointer;display: block;margin-top: 5px;transition: .1s;" src="{% static  'images/arrow-up.png' %}">
			 
					<img data-product={{item.product.id}}  data-action='remove' class='chg-quantity update-cart' style="width:12px;cursor:pointer;display: block;margin-top: 5px;transition: .1s;" src="{% static  'images/arrow-down.png' %}">
				</div></td>		
			<td>${{item.product.price}}</td>
			<td>FREE SHIPPING</td>
			<td>${{item.product.price|mul:item.quantity}}</td>
		  </tr>
		  {% endfor %}
	</table>
	<a href="{% url 'checkout' %}" class=" to-buy">PROCEED TO BUY</a>
	<div class="clearfix"> </div>
    </div>
</div>
<!--footer-->
<div class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="col-md-6 top-footer">
				<h3>Follow Us On</h3>
				<div class="social-icons">
					<ul class="social">
						<li><a href="#"><i></i></a> </li>
						<li><a href="#"><i class="facebook"></i></a></li>	
						<li><a href="#"><i class="google"></i> </a></li>
						<li><a href="#"><i class="linked"></i> </a></li>						
					</ul>
						<div class="clearfix"></div>
				 </div>
			</div>
			<div class="col-md-6 top-footer1">
				<h3>Newsletter</h3>
					<form action="#" method="post">
						<input type="text" name="email" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="SUBSCRIBE">
					</form>
			</div>
			<div class="clearfix"> </div>	
		</div>	
	</div>
		<div class="footer-bottom">
		<div class="container">
				<div class="col-md-3 footer-bottom-cate">
					<h6>Categories</h6>
					<ul>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Tempus pretium</a></li>
						<li><a href="#">Dignissim neque</a></li>
						<li><a href="#">Ornared id aliquet</a></li>
						
					</ul>
				</div>
				<div class="col-md-3 footer-bottom-cate">
					<h6>Feature Projects</h6>
					<ul>
						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Tempus pretium</a></li>
						<li><a href="#">Dignissim neque</a></li>
						<li><a href="#">Ornared id aliquet</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-bottom-cate">
					<h6>Top Brands</h6>
					<ul>
						<li><a href="#">Tempus pretium</a></li>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Dignissim neque</a></li>
						<li><a href="#">Ornared id aliquet</a></li>
						
						
					</ul>
				</div>
				<div class="col-md-3 footer-bottom-cate cate-bottom">
					<h6>Our Address</h6>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : 12th Avenue, 5th block, <span>Sydney.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="mailto:fahadpuzhakkaraillath@gmail.com">fahadpuzhakkaraillath@gmail.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +1234 567 567</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<p class="footer-class">  © 2021 Shop Hop . All Rights Reserved | Design by <a href="https://www.linkedin.com/in/fahad-p-n-93a7441b4/" target="_blank">TH3FHD<</a> </p>
			</div>
	</div>
</div>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<!--footer-->
</body>
</html>