{% load static %}
{% static 'pics' as baseUrl %}
<!DOCTYPE html>
<html>

<head>
    <title>Shop Hop: Cart</title>
    <link href="{% static 'css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/simpleCart.min.js' %}"> </script>
    <!-- slide -->
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script type="text/javascript">
        var user = "{{request.user}}"
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
        
    </script>
</head>

<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="col-sm-4 logo">
                    <h1><a href="/">Shop <span>Hop</span></a></h1>
                </div>
                <div class="col-sm-4 world">
                    <div class="cart box_1">
                        <a href="cart">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span>
                                </div>
                                <img src="{% static 'images/cart.png' %}" alt="" />
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>

                    </div>
                </div>
                <div class="col-sm-2 number">
                    {% if request.user.is_authenticated %}
                    <span><i class="glyphicon glyphicon-phone"></i>Hello,{{user.first_name}}</span>
                    {% endif %}
                </div>
                <div class="col-sm-2 search">
                    <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i
                            class="glyphicon glyphicon-search"> </i> </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="container">
            <div class="head-top">
                <div class="n-avigation">

                    <nav class="navbar nav_bottom" role="navigation">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header nav_2">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
                                data-target="#bs-megadropdown-tabs">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"></a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav nav_1">
                                <li><a href="/">Home</a></li>
                                <li class="dropdown mega-dropdown active">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women<span
                                            class="caret"></span></a>
                                    <div class="dropdown-menu mega-dropdown-menu">
                                        <div class="container-fluid">
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="men">
                                                    <ul class="nav-list list-inline">
                                                        <li><a href="#"><img src="{% static 'images/t7.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                        <li><a href="#"><img src="{% static 'images/t8.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                        <li><a href="#"><img src="{% static 'images/t9.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                        <li><a href="#"><img
                                                                    src="{% static 'images/t11.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                        <li><a href="#"><img src="{% static 'images/t1.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                        <li><a href="#"><img
                                                                    src="{% static 'images/t12.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Nav tabs -->

                                    </div>
                                </li>
                                <li class="dropdown mega-dropdown active">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men<span
                                            class="caret"></span></a>
                                    <div class="dropdown-menu mega-dropdown-menu">
                                        <div class="container-fluid">
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="men">
                                                    <ul class="nav-list list-inline">
                                                        <li><a href="#"><img src="{% static 'images/t10.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                        <li><a href="#"><img src="{% static 'images/t2.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                        <li><a href="#"><img src="{% static 'images/t3.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                        <li><a href="#"><img src="{% static 'images/t4.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                        <li><a href="#"><img src="{% static 'images/t5.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                        <li><a href="#"><img src="{% static 'images/t6.jpg' %}"
                                                                    class="img-responsive" alt="" /></a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Nav tabs -->

                                    </div>
                                </li>
                                <li><a href="#">Products</a></li>
                                {% if request.user.is_authenticated %}
                                <li><a href="accounts/logout">Logout</a></li>
                                {% else %}
                                <li><a href="accounts/account">Sign In</a></li>
                                {% endif %}
                                <li class="last"><a href="#">Contact</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->

                    </nav>
                </div>


                <div class="clearfix"> </div>
                <!---pop-up-box---->
                <link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
                <script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
                <!---//pop-up-box---->
                <div id="small-dialog" class="mfp-hide">
                    <div class="search-top">
                        <div class="login">
                            <form action="#" method="post">
                                <input type="submit" value="">
                                <input type="text" name="search" value="Type something..." onfocus="this.value = '';"
                                    onblur="if (this.value == '') {this.value = '';}">

                            </form>
                        </div>
                        <p> Shopping</p>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });

                    });
                </script>
                <!---->
            </div>
        </div>
    </div>
    <!--//header-->
    <div class="breadcrumbs">
        <div class="container">
            <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
                <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
                <li class="active">Checkout</li>
            </ol>
        </div>
    </div>
    <!---->
    <div class="container">
        <div class="register" id="form-wrapper">
            <h2>Checkout</h2>
            <form id="form">
                <div class="col-md-6  register-top-grid">

                    <div class="mation" id="user-info">
                        <span>Name</span>
                        <input type="text" name='name'>

                        <span>Email Address</span>
                        <input type="text" name='email'>
                    </div>
                    <div class="mation" id="shipping-info">
                        <p>Shipping Information:</p>
                        <span>Address</span>
                        <input type="text" name='address'>

                        <span>City</span>
                        <input type="text" name='city'>

                        <span>State</span>
                        <input type="text" name='state'>

                        <span>Country</span>
                        <input type="text" name='country'>

                        <span>Zipcode</span>
                        <input type="number" name='zipcode'>
                    </div>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                    <div class="clearfix"> </div>
                </div>
            </form>
        </div>
        <div class=" col-md-6 register-bottom-grid">
            <div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
				<!--<button id="make-payment">Make payment</button>-->
				<div id="paypal-button-container"></div>
			</div>
            <div class="col-lg-6">
                <div class="box-element">
                    <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                    <hr>
                    <div class="container">
                        <div class="check-out">
                            <h3>Order Summary</h3>
                                <table class="table">
                              <tr>
                                <th>Item</th>
                                <th>Qty</th>		
                                <th>Price</th>
                              </tr>
                              <tr>
                                {% for item in items %}
                                <td class="ring-in"><a href="#" class="at-in"><img src="{{item.product.imageURL}}" class="img-responsive" alt=""></a>
                                <div class="sed">
                                    <h6>{{item.product.name}}</h6>
                                
                                </div>
                                <div class="clearfix"> </div></td>
                                <td><p class="quantity" style="display: inline-block;
                                    font-weight: 700;padding-right:2px;">x{{item.quantity}}</p>	
                                <td>${{item.product.price|floatformat:2}}</td>
                                {% endfor %}
                              </tr>
                        </table>
                        <h5>Items: {{order.get_cart_items}}</h5>
                        <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
                    </div>
                </div>
            </div>
     </div>
    </div>
    </div>
    </div>
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-6 top-footer">
                    <h3>Follow Us On</h3>
                    <div class="social-icons">
                        <ul class="social">
                            <li><a href="#"><i></i></a> </li>
                            <li><a href="#"><i class="facebook"></i></a></li>
                            <li><a href="#"><i class="google"></i> </a></li>
                            <li><a href="#"><i class="linked"></i> </a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 top-footer1">
                    <h3>Newsletter</h3>
                    <form action="#" method="post">
                        <input type="text" name="email" value="" onfocus="this.value='';"
                            onblur="if (this.value == '') {this.value ='';}">
                        <input type="submit" value="SUBSCRIBE">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="col-md-3 footer-bottom-cate">
                    <h6>Categories</h6>
                    <ul>
                        <li><a href="#">Curabitur sapien</a></li>
                        <li><a href="#">Dignissim purus</a></li>
                        <li><a href="#">Tempus pretium</a></li>
                        <li><a href="#">Dignissim neque</a></li>
                        <li><a href="#">Ornared id aliquet</a></li>

                    </ul>
                </div>
                <div class="col-md-3 footer-bottom-cate">
                    <h6>Feature Projects</h6>
                    <ul>
                        <li><a href="#">Dignissim purus</a></li>
                        <li><a href="#">Curabitur sapien</a></li>
                        <li><a href="#">Tempus pretium</a></li>
                        <li><a href="#">Dignissim neque</a></li>
                        <li><a href="#">Ornared id aliquet</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-bottom-cate">
                    <h6>Top Brands</h6>
                    <ul>
                        <li><a href="#">Tempus pretium</a></li>
                        <li><a href="#">Curabitur sapien</a></li>
                        <li><a href="#">Dignissim purus</a></li>
                        <li><a href="#">Dignissim neque</a></li>
                        <li><a href="#">Ornared id aliquet</a></li>


                    </ul>
                </div>
                <div class="col-md-3 footer-bottom-cate cate-bottom">
                    <h6>Our Address</h6>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : 12th Avenue, 5th
                            block, <span>Sydney.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a
                                href="mailto:fahadpuzhakkaraillath@gmail.com">fahadpuzhakkaraillath@gmail.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +1234 567 567</li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
                <p class="footer-class"> © 2021 Shop Hop . All Rights Reserved | Design by <a
                        href="https://www.linkedin.com/in/fahad-p-n-93a7441b4/" target="_blank">TH3FHD<< /a>
                </p>
            </div>
        </div>
    </div>
    <!--footer-->
</body>
<script src="https://www.paypal.com/sdk/js?client-id=ASCUnB80-nBgoG9T1Z13h1WU8pCL63y1o8BQDOlXlAesJinJdY8y2dbmZ_bEp94-QJ9-tSyjr86hEnc8&currency=USD"></script>

	<script>
		var total = '{{order.get_cart_total}}'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

        	style: {
                color:  'blue',
                shape:  'rect',
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value:parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    submitFormData()
                });
            }

        }).render('#paypal-button-container');
    </script>

	<script type="text/javascript">
		var shipping = '{{order.shipping}}'

		if (shipping == 'False'){
		 	document.getElementById('shipping-info').innerHTML = ''
		}

		if (user == 'AnonymousUser'){
		 	document.getElementById('user-info').innerHTML = ''
		 }

		if (shipping == 'False' && user == 'AnonymousUser'){
			//Hide entire form if user is logged in and shipping is false
				document.getElementById('form-wrapper').classList.add("hidden");
				//Show payment if logged in user wants to buy an item that does not require shipping
			    document.getElementById('payment-info').classList.remove("hidden");
		}

		var form = document.getElementById('form')
		form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add("hidden");
	    	document.getElementById('payment-info').classList.remove("hidden");
	    })
        /*
	    document.getElementById('make-payment').addEventListener('click', function(e){
	    	submitFormData()
	    })
        */

	    function submitFormData(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'address':null,
				'city':null,
				'state':null,
				'zipcode':null,
			}

			if (shipping != 'False'){
	    		shippingInfo.address = form.address.value
		    	shippingInfo.city = form.city.value
		    	shippingInfo.state = form.state.value
		    	shippingInfo.zipcode = form.zipcode.value
	    	}

	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.name.value
	    		userFormData.email = form.email.value
	    	}

	    	console.log('Shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		}, 
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
	    		
	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');  

				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

				window.location.href = "{% url 'index' %}"

				})
	    }
	</script>
</html>